:root {
  --bgColor: #ffffff;
  --primaryColor: #00469d;
  --color1: #00469d;
  --color2: #78B2AF; 
  --color3: #FFF7D6;
}

body {
  background-color: var(--bgColor);
}
* {
  box-sizing: border-box;
}
.coderapy {
  margin: 20px auto;
  margin-bottom: 5px;
  position: relative;
  width: 200px;
  height: 200px;
}

.c {
  width: 200px;
  height: 200px;
  transform: scale(1);
  background-image: radial-gradient(
    circle,
    var(--color3),
    var(--color2),
    var(--color1),
    var(--primaryColor)
  );
  border-radius: 50%;
  animation: co 5s ease;
  z-index: 1;
}

@keyframes co {
  0% {
    transform: scale(0.7);
  }
  20% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.m {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  background-color: var(--bgColor);
  border-radius: 50px;
  z-index: 1;
}

.m3 {
  position: absolute;
  left: 135px;
  top: 38px;
  width: 80px;
  height: 124px;
  background-color: var(--bgColor);
  border-radius: 50% 0 0 50%;
  z-index: 1;
}

.c1,
.c2 {
  position: absolute;
  left: 135px;
  top: 30px;
  width: 50px;
  height: 50px;
  z-index: 2;
  background-image: radial-gradient(
    circle,
    var(--color3),
    var(--color2),
    var(--color1),
    var(--primaryColor)
  );
  border-radius: 50%;
}
.c2 {
  top: 120px;
}

.play {
  position: absolute;
  transform: rotate(45deg);
  z-index: 50;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  top: 65px;
  left: 65px;
  background: linear-gradient(
    to right top,
    var(--primaryColor),
    var(--color1),
    var(--color2),
    var(--color3)
  );
  animation: anim 5s linear;
  border: 0px solid transparent;
}

/* new code - TO TESTING  */
.play { 
  filter: drop-shadow(0 0 10px var(--primaryColor));
  background: var(--primaryColor);
}

@keyframes anim {
  0% {
    border: 20px solid var(--primaryColor);
    border-radius: 10px;
    background: transparent;
    width: 250px;
    height: 250px;
    top: -25px;
    left: -25px;
    clip-path: polygon(
      0 30%,
      10% 30%,
      30% 10%,
      30% 0,
      100% 0,
      100% 70%,
      90% 70%,
      70% 90%,
      70% 100%,
      0 100%
    );
    transform: rotate(45deg);
  }

  20% {
    border: 20px solid var(--primaryColor);
    background: transparent;
    width: 250px;
    height: 250px;
    top: -25px;
    left: -25px;
    transform: rotate(45deg);
  }

  40% {
    border-color: var(--primaryColor);
    background: transparent;
    clip-path: polygon(
      0 30%,
      10% 30%,
      30% 10%,
      30% 0,
      100% 0,
      100% 70%,
      90% 70%,
      70% 90%,
      70% 100%,
      0 100%
    );
  }

  50% {
    border: 0px solid transparent;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    top: 65px;
    left: 65px;

    clip-path: polygon(0 0%, 0% 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    transform: rotate(45deg);
  }

  60% {
    background: linear-gradient(
      to right top,
      var(--primaryColor),
      var(--color1),
      var(--color2),
      var(--color3)
    );
    transform: rotate(45deg);
  }
  90% {
    transform: rotate(45deg);
  }
  100% {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    top: 65px;
    left: 65px;
    transform: rotate(405deg);
  }
}

/* text
*/

h1 {
  margin: 5px auto;
  font-size: 44px;
  font-family: monospace;
  -webkit-text-stroke: 3px var(--primaryColor);
  color: var(--primaryColor);
  width: fit-content;
  position: relative;
}

h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1::before {
  background: var(--bgColor);
  animation: typing 3s steps(12) forwards;
}
h1::after {
  width: 3px;
  background: var(--primaryColor);
  animation: typing 3s steps(12) forwards, blink 0.75s steps(12) infinite;
}

@keyframes typing {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
